<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LEGO Store</title>
  {% load static %}
  <link rel="shortcut icon" type="image/png" href="{% static 'img/logo.png' %}"/>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}">LEGO Store</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about_us' %}">About Us</a>
                    </li>
                    {% if user %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Contact</a>
                        </li>
                    {% endif %}
                    {% if user.position|stringformat:"s" == "admin" %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'add_product' %}">Add product</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Cart</a>
                    </li>
                </ul>
                <ul class="navbar-nav ">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login/ Signup</a>
                    </li>
                </ul>
                    
            </div>
        </div>
    </nav>
    {% if messages %}
        {% for message in messages %}
            <div class="modal fade" id="exampleModal" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Example Modal</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            {{ message }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    <div class="container mt-5">
        <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h2>Login account</h2>
                </div>
                <div class="card-body">
                    <form method="post" action="{% url 'login_event' %}">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="loginEmail" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="loginEmail" name="email" aria-describedby="emailHelp" required>
                        </div>
                        <div class="mb-3">
                            <label for="loginPassword" class="form-label">Password</label>
                            <div class="d-flex">
                                <input type="password" class="form-control" id="loginPassword" name="password" required>
                                <button class="btn btn-outline-secondary" type="button" id="togglePassword3"><i class="fas fa-eye-slash"></i></button>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="d-flex justify-content-end me-5">
                                <a class="text-black text-muted" href="{% url 'forgot_password' %}">Forgot password</a>
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>
                    </form>
                    <div class="card-item text-center mt-3">
                        <p>Do not have an account?<a href="{% url 'signup' %}">Register an account.</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>

  <!-- Bootstrap JS Bundle with Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script>
        window.addEventListener('DOMContentLoaded', function() {
        var modalElement = document.getElementById('exampleModal');
        var modal = new bootstrap.Modal(modalElement);
            if (modalElement) {
                modal.show();
            }
        });
        function togglePasswordVisibility(buttonId, inputId) {
            const button = document.getElementById(buttonId);
            const input = document.getElementById(inputId);
            const type = input.getAttribute('type') === 'password' ? 'text' : 'password';
            input.setAttribute('type', type);
            button.innerHTML = type === 'password' ? '<i class="fas fa-eye-slash"></i>' : '<i class="fas fa-eye"></i>';
        }
        // Add event listeners for password toggling
        document.getElementById('togglePassword3').addEventListener('click', function () {
            togglePasswordVisibility('togglePassword3', 'loginPassword');
        });
    </script>
</body>
</html>
