<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LEGO Store</title>
  {% load static %}
  <link rel="shortcut icon" type="image/png" href="{% static 'img/logo.png' %}"/>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}">LEGO Store</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about_us' %}">About Us</a>
                    </li>
                    {% if user %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Contact</a>
                        </li>
                    {% endif %}
                    {% if user.position|stringformat:"s" == "admin" %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Product
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li>
                                    <a class="dropdown-item" href="{% url 'add_product' %}">Add New Product</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'product' %}">Management product</a>
                                </li>
                            </ul>
                        </li>
                        
                    {% endif %}
                    
                    {% if user %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'cart' %}">Cart <span class="badge bg-danger">{{ count }}</span></a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Cart</a>
                        </li>
                    {% endif %}
                </ul>
                {% if user %}
                    <!-- Nếu có người dùng đăng nhập -->
                    <!-- Các phần tử HTML cho người dùng đã đăng nhập -->
                    <ul class="navbar-nav dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="{% static 'img/avatar.jpg' %}" style="height: 50px; width: 50px; border-radius: 50%;">
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>
                                <a class="dropdown-item" href="{% url 'history' %}">Transaction history</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'Personal_infor' %}">Profile</span></a>
                            </li>
                            
                            <li>
                                <a class="dropdown-item" href="{% url 'logout' %}">Đăng xuất</a>
                            </li>
                        </ul>
                    </ul>
                {% else %}
                    <!-- Nếu không có người dùng đăng nhập -->
                    <ul class="navbar-nav ">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Login/ Signup</a>
                        </li>
                    </ul>
                {% endif %}
            </div>
        </div>
    </nav>

    {% if messages %}
        {% for message in messages %}
            <div class="modal fade" id="exampleModal" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Notification</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            {{ message }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    <!-- Personal Information Section -->
    <div class="d-flex justify-content-center">
        <div class="container mt-5 w-50">
            <h1 class="text-center mb-4">Personal Information</h1>
            <form method="post" action="{% url 'update_data' %}">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="fullName" class="form-label">Full name:</label>
                    <input type="text" class="form-control" id="fullName" value="{{ user.name_user }}" name="name_user">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email:</label>
                    <input type="email" class="form-control" id="email" value="{{ user.email }}" name="email">
                </div>
                <div class="mb-3">
                    <label for="phoneNumber" class="form-label">Phonenumber:</label>
                    <input type="tel" class="form-control" id="phoneNumber" value="{{ user.phone_number }}" name="phone_number">
                </div>
                <div class="mb-3">
                    <label for="dob" class="form-label">Date of birth:</label>
                    <input type="date" class="form-control" id="dob" value="{{ date }}" name="date_of_birth">
                </div>
                <div class="text-center">

                    <button type="submit" class="btn btn-success">Save</button>
                    <a href="{% url 'change_password' %}" class="btn btn-primary">Change password</a>
                </div>
            </form>
        </div>
    </div>

    <!-- Footer -->
    <footer class="bg-light text-center text-lg-start mt-5">
        <div class="text-center p-3">
            © 2024 ABSN LEGO Store
        </div>
    </footer>

    <!-- Bootstrap JS Bundle with Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script>
        window.addEventListener('DOMContentLoaded', function() {
            var modalElement = document.getElementById('exampleModal');
            var modal = new bootstrap.Modal(modalElement);
                if (modalElement) {
                    modal.show();
                }
            });
    </script>
</body>
</html>
